.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.logo-container {
    text-align: center;
    margin-bottom: 40px;
}

#site-logo {
    max-width: 200px;
    height: auto;
    margin: 20px auto;
    display: block;
}

@media (max-width: 768px) {
    #site-logo {
        max-width: 150px;
    }
}

.form-group {
    margin-bottom: 15px;
}

input:invalid {
    border-color: #FF6600;
}

input:valid {
    border-color: #008744;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #FF6600;
    border-radius: 4px;
}

button {
    background-color: #FF6600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #CC5500;
}

#downloadButton {
    padding: 8px 16px;
    background-color: #FF6600;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

#downloadButton:hover {
    background-color: #CC5500;
}

.button-container {
    position: relative;
    margin-bottom: 20px;
}

.absenden-button {
    position: relative;
    z-index: 1;
}

.view-buttons-container {
    margin-bottom: 20px;
    clear: both;
}

.view-btn {
    background-color: #FF6600;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.view-btn:hover {
    background-color: #CC5500;
}

@media (min-width: 600px) {
    .view-btn {
        width: auto;
        margin-right: 10px;
    }
}

.disabled-button {
    opacity: 0.6; /* Make the button appear faded */
    cursor: not-allowed; /* Change cursor to indicate non-interactivity */
}

.status-step {
    margin-bottom: 5px;
    position: relative;
    padding-left: 35px;
    --spinner-animation: spin 1s linear infinite;
}

.status-step.loading .loading-spinner {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.status-step::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 2px solid #f3f3f3;
    border-top: 2px solid #FF6600;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    animation: var(--spinner-animation);
}

.status-step.hidden {
    visibility: hidden;
}

@keyframes spin {
    from {
        transform: translateY(-50%) rotate(0deg);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.status-success {
    color: #28a745;
}

.status-error {
    color: #ff0000;
}

.status-loading {
    color: #007bff;
}